{
  "extends": [
    "react-app",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "react/jsx-filename-extension": [
          1,
          {
            "extensions": [".tsx"]
          }
        ],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "ts": "never",
            "tsx": "never"
          }
        ],
        "react/jsx-props-no-spreading": [
          "error",
          {
            "custom": "ignore"
          }
        ]
      }
    }
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
